@use "variables" as vars;

.jg-btn-bg {
    display: inline-block;
    background-color: transparent;
    color: vars.$jg-primary-blue;
    border: 1px solid vars.$jg-primary-blue;
    border-radius: vars.$jg-border-radius-250;
    padding: vars.$jg-space-150 vars.$jg-space-300;
    font-size: vars.$jg-font-size-small;
    font-weight: vars.$jg-font-weight-regular;
    cursor: pointer;
}

.jg-btn-bg:hover {
    background-color: vars.$jg-primary-blue;
    color: vars.$jg-white;
    border: 1px solid vars.$jg-primary-blue;
}