@use "variables" as vars;
@use "mixins" as mixs;

.jg-footer {
    /*position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;*/
    background-color: vars.$jg-dark-blue;
    color: vars.$jg-white;
    border-radius: 25px 25px 0 0;

    a {
        color: vars.$jg-white;
    }

    &-container {
        padding: 60px 0 40px;
        @include mixs.h-container;

        @include mixs.tablet {
            padding: 24px 0;
        }

        @include mixs.desktop {
            padding: 80px 0 40px;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            @include mixs.tablet {
                max-width: 360px;
            }
        }
    }

    &-links {
        margin-top: vars.$jg-space-600;
        display: flex;
        gap: 80px;

        @include mixs.tablet {
            margin-top: 0;
        }

        &-title {
            margin-bottom: 20px;
        }

        &-col ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &-up {
        @include mixs.tablet {
            display: flex;
            justify-content: space-between;
        }
    }
}