@use "sass/mixins" as mixs;
@use "variables" as vars;

.jg-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: vars.$jg-white;
    z-index: vars.$jg-z-header;
    transition-property: transform,opacity,background-color;
    transition-duration: .4s;
    transition-timing-function: vars.$jg-cubic-out;

    &-container {
        display: flex;
        align-items: center;
        padding: 12px 0;
        @include mixs.h-container;

        @include mixs.tablet {
            padding: 24px 0;
        }

        @include mixs.desktop {
            padding: 35px 0;
        }
    }

    &-logo {
        margin-right: auto;
        animation: header-li-fade .9s vars.$jg-cubic-out;

        &-link {
            text-decoration: none;
            color: vars.$jg-black;
        }
    }

    &-nav {
        display: none;
        transition-property: opacity;
        transition-duration: .4s;
        transition-timing-function: vars.$jg-cubic-out;
        transition-delay: .2s;

        @include mixs.tablet {
            display: block;
        }

        &-list {
            display: flex;

            a {
                color: vars.$jg-black;
                transition: color .9s vars.$jg-cubic-out;

                &:hover {
                    color: vars.$jg-primary-blue;
                }
            }

            &-item {
                opacity: 0;
                animation: header-li-fade .9s vars.$jg-cubic-out forwards;
                animation-play-state: paused;
                will-change: opacity, transform;
                position: relative;

                &:first-child {
                    animation-delay: calc(30ms + 0ms);
                }

                &:nth-child(2) {
                    animation-delay: calc(60ms + 0ms);
                }

                &:nth-child(3) {
                    animation-delay: calc(90ms + 0ms);
                }

                &:not(:first-child) {
                    margin-left: 1.5rem;
                }

                @include mixs.tablet {
                    &:not(:first-child) {
                        margin-left: 2rem;
                    }
                }

                @include mixs.desktop {
                    &:not(:first-child) {
                        margin-left: 3rem;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: vars.$jg-primary-blue;
                    left: 50%;
                    bottom: -15px;
                    opacity: 0;
                    transform: translateY(10px);
                    transition: transform .9s vars.$jg-cubic-out;
                }

                &:hover::after {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        &-start, &-list-item {
            animation-play-state: running;
        }
    }
}

@keyframes header-li-fade {
    from {
        opacity: 0;
        transform: translateY(15px)
    }

    75% {
        opacity: 1
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}