@use "variables" as vars;
@use "mixins" as mixs;

.jg-home-hero {
    padding-top: 160px;

    @include mixs.tablet {
        padding-top: 170px;
    }

    @include mixs.desktop {
        padding-top: 260px;
    }

    @include mixs.desktop-xl {
        padding-top: 300px;
    }
}

.jg-home-about {
    width: auto;
    background-color: vars.$jg-dark-blue;
    color: vars.$jg-white;
    border-radius: vars.$jg-border-radius-250;
    padding: vars.$jg-space-600 0;
    margin-top: 150px;

    @include mixs.tablet {
        padding: 60px;
        margin: 0 2rem 0;
    }

    @include mixs.desktop {
        margin: 200px 15rem 0;
    }

    &-title {
        margin-bottom: 16px;
    }
}

.jg-home-blog {
    margin: vars.$jg-space-800 0;

    @include mixs.tablet {
        margin: vars.$jg-space-1200 0;
    }

    &-upper {
        text-align: center;

        @include mixs.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-down {
        display: flex;
        flex-direction: column;

        @include mixs.tablet {
            flex-direction: row;
            gap: vars.$jg-space-300;
        }
    }
}
