@use "sass/variables" as vars;

// Responsiveness
@mixin desktop {
    @media only screen and (min-width: vars.$jg-breakpoints-lg) {
        @content;
    }
}

// Typography
@mixin heading-h1 {
    font-size: vars.$jg-font-size-h1;
    font-weight: vars.$jg-font-weight-regular;
    line-height: 1.3;
}

@mixin heading-h2 {
    font-size: vars.$jg-font-size-h2;
    font-weight: vars.$jg-font-weight-regular;
    line-height: 1.3;
}

@mixin heading-h3 {
    font-size: vars.$jg-font-size-h3;
    font-weight: vars.$jg-font-weight-medium;
    line-height: 1.3;
}

@mixin heading-h4 {
    font-size: vars.$jg-font-size-h4;
    font-weight: vars.$jg-font-weight-medium;
    line-height: 1.2;
}

@mixin body-text-sub {
    font-size: vars.$jg-font-size-body;
    font-weight: vars.$jg-font-weight-regular;
    line-height: 1.5;
    color: vars.$jg-grey;
}

@mixin text-sm {
    font-size: vars.$jg-font-size-small;
    font-weight: vars.$jg-font-weight-light;
    line-height: 1.5;
}

@mixin text-lg {
    font-size: vars.$jg-font-size-large;
    font-weight: vars.$jg-font-weight-regular;
    line-height: 1.5;
}

@mixin text-sm-sub {
    font-size: vars.$jg-font-size-small;
    font-weight: vars.$jg-font-weight-light;
    line-height: 1.5;
    color: vars.$jg-grey;
}
