@use "variables" as vars;
@use "mixins" as mixs;

.jg-mob-menu {
  position: fixed;
  z-index: vars.$jg-z-mob-menu;
  top: 0;
  left: 0;
  right: 0;
  background-color: vars.$jg-light-blue;
  color: vars.$jg-black;
  clip-path: inset(0 0 0 100%);
  transition: clip-path .5s;
  overflow-x: hidden;
  overflow-y: hidden;

  &-active {
    height: 100%;
    clip-path: inset(0 0 0 0);
  }

  &-inner {
    position: relative;
    height: 100%;
    overflow: auto;
  }

  &-container {
    @include mixs.h-container;
  }

  &-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-body, &-footer {
    @include mixs.h-container;

    &-title {
      font-size: vars.$jg-font-size-body;
      color: vars.$jg-grey;
      font-weight: vars.$jg-font-weight-regular;
    }
  }

  &-body {
    &-title {
      margin-bottom: vars.$jg-space-300;
    }

    &-nav-list {
      display: flex;
      flex-direction: column;
      gap: vars.$jg-space-100;

      &-item {
        font-size: 2.7rem;
        font-weight: vars.$jg-font-weight-light;
      }
    }
  }

  &-footer {
    padding-top: vars.$jg-space-1000;

    &-title {
      margin-bottom: vars.$jg-space-100;
    }
  }
}
