@use "sass/mixins" as mix;
@use "variables" as vars;

.jg-navbar {
    @include mix.desktop {
        background-color: transparent;
        color: vars.$jg-white;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        padding: 35px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // font-weight: vars.$jg-font-weight-light;

        a {
            color: vars.$jg-white;
            text-decoration: none;
            font-size: 1rem;
            line-height: 1.5;
        }

        &-left {
            a {
                font-size: vars.$jg-font-size-body;
            }
        }

        &-middle {
            font-size: vars.$jg-font-size-small;
        }

        &-right {
            display: flex;
            gap: 45px;
        }
    }
}