@use "variables" as vars;
@use "mixins" as mixs;

// Headings

.jg-heading-extra {
    font-size: 40px;
    font-weight: vars.$jg-font-weight-regular;
    line-height: 1.2;
    letter-spacing: -.05rem;

    @include mixs.tablet {
        font-size: 50px;
    }

    @include mixs.desktop {
        font-size: 72px;
        line-height: 1.1;
    }
}

.jg-heading-1 {
    font-size: 40px;
    font-weight: vars.$jg-font-weight-regular;
    line-height: vars.$jg-font-line-height-110;
    letter-spacing: -.05rem;

    @include mixs.tablet {
        font-size: vars.$jg-heading-1;
    }
}

.jg-heading-2 {
    font-size: vars.$jg-heading-2;
    font-weight: vars.$jg-font-weight-regular;
    line-height: vars.$jg-font-line-height-130;
}

.jg-heading-3 {
    font-size: vars.$jg-heading-3;
    font-weight: vars.$jg-font-weight-regular;
    line-height: vars.$jg-font-line-height-130;
}

.jg-heading-4 {
    font-size: vars.$jg-heading-4;
    font-weight: vars.$jg-font-weight-regular;
    line-height: vars.$jg-font-line-height-130;
}

// Text

.jg-text-1 {
    font-size: vars.$jg-body;
    font-weight: vars.$jg-font-weight-regular;
    line-height: vars.$jg-font-line-height-150;
}

.jg-text-1-medium {
    font-size: vars.$jg-body;
    font-weight: vars.$jg-font-weight-medium;
    line-height: vars.$jg-font-line-height-150;
}

.jg-text-xs {
    font-size: vars.$jg-body-small;
    font-weight: vars.$jg-font-weight-medium;
    line-height: vars.$jg-font-line-height-140;
}
