// Colours
$black: #101010;
$white: #FFFFFF;
$grey: #B8B8B8;
$primary: #FFC108;
$error: #C5280C;
$success: #16A679;

// Typography
$font-size: 18px;
$letter-spacing: normal;
$line-height: 1.5;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;